<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="apiRequestDAO" class="com.kaiasia.app.core.dao.ApiRequestDAO">
		<property name="tableName" value="${dbinfo.apiRequest}" />
	</bean>

	<bean id="apiResponseDAO" class="com.kaiasia.app.core.dao.ApiResponseDAO">
		<property name="tableName" value="${dbinfo.apiResponse}" />
	</bean>

	<bean id="apiDaoManager" class="com.kaiasia.app.core.dao.APIDaoManager">
		<property name="apiRequestDao" ref="apiRequestDAO" />
		<property name="apiResponseDAO" ref="apiResponseDAO" />
	</bean>
	<bean id="t24UtilClient" class="ms.apiclient.t24util.T24UtilClient">
		<property name="url" value="${dep-api.t24utilsApi.url}" />
		<property name="apiKey" value="${dep-api.t24utilsApi.apiKey}" />
		<property name="apiName" value="${dep-api.t24utilsApi.apiName}" />
		<property name="apiTimeout" value="${dep-api.t24utilsApi.timeout}" />
	</bean>
	<bean id="authenClient" class="ms.apiclient.authen.AuthenClient">
		<property name="url" value="${dep-api.authApi.url}"/>
		<property name="apiKey" value="${dep-api.authApi.apiKey}"/>
		<property name="apiName" value="${dep-api.authApi.apiName}"/>
		<property name="apiTimeout" value="${dep-api.authApi.timeout}"/>
	</bean>

</beans>