<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="apiRequestDAO" class="com.kaiasia.app.core.dao.ApiRequestDAO">
		<property name="tableName" value="${dbinfo.apiRequest}" />
	</bean>

	<bean id="apiResponseDAO" class="com.kaiasia.app.core.dao.ApiResponseDAO">
		<property name="tableName" value="${dbinfo.apiResponse}" />
	</bean>

	<bean id="apiDaoManager" class="com.kaiasia.app.core.dao.APIDaoManager">
		<property name="apiRequestDao" ref="apiRequestDAO" />
		<property name="apiResponseDAO" ref="apiResponseDAO" />
	</bean>

	<bean id="ebankDAO" class="com.kaiasia.app.repository.EbankDAO">
		<property name="tableName" value="${dbinfo.ebank}" />
	</bean>
	<bean id="customerDAO" class="com.kaiasia.app.repository.CustomerDAO">
		<property name="tableName" value="${dbinfo.customer}" />
	</bean>
	<bean id="accountDAO" class="com.kaiasia.app.repository.AccountDAO">
		<property name="tableName" value="${dbinfo.account}" />
	</bean>
	<bean id="fundTransferDAO" class="com.kaiasia.app.repository.FundTransferDAO">
		<property name="tableName" value="${dbinfo.fund_transfer}" />
	</bean>
	<bean id="banksDAO" class="com.kaiasia.app.repository.BanksDAO">
		<property name="tableName" value="${dbinfo.banks}" />
	</bean>
</beans>